<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


</head>
<body>
    <div class="main">
        {% block header %}
        <header class="my-header">
            <nav>
                <ul>
                    <li><a href="{{ '/' }}">Home</a></li>
                    <li><a href="{{ 'about.html' }}">About</a></li>
                    <li><a href="{{ 'disclaimer' }}">Disclaimer</a></li>
                    <li><a href="{{ 'contact' }}">Contact</a></li>
                </ul>
            </nav>
        </header>
        {% endblock %}

        <div class = "my-content">
        {% block content %}
        
        {% endblock %}
        </div> <!-- my-content -->

        

        {% block footer %}
        <div class="my-footer">
            <p>Copyright Citco 2025</p>
        </div>

        {% endblock %}
    </div> <!-- main -->

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}" ></script>

</body>
</html>
