{% extends 'base.html' %}


{%block content%}
<div class="row">
    <div class="col-6 mx-auto mt5 text-center">
        <button class="btn btn-primary">Go</button>
    </div>

</div>

<div class="row row" id="main-content">
    <div class="col-sm" id="results-col">
        <h2>Result 1</h2>
        <p> this is temp text </p>

        <ul id="results">

        </ul>
    </div>

    <div class="col-sm" id="middle-space">
    </div>

     <div class="col-sm" id="right-side-box" style="background-color: red; width: 25%;"">
        <ul class =right-list" id = 'right-list'>
            <li>first one</li>

        </ul>
    </div> <!end inputs col-->
</div> <!end content row -->
{% endblock %}